[user]
	name = Vinícius Hoyer
	email = vhoyer@live.com
[core]
	autocrlf = input
	safecrlf = warn
	editor = nvim
	excludesfile = ~/.ggitignore
[alias]
	pow = push origin HEAD
	pom = pull origin master
	pod = pull origin development
	co = commit
	st = status
	ch = checkout
	adog = log --all --decorate --oneline --graph
	amend = commit --amend
	f = fetch -p
	fix = "!nvim `git diff --name-only --diff-filter=U`"
	addu = "!git add `git diff --name-only --diff-filter=U`"
	diffw = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
	hist = log --graph --decorate --pretty=oneline --abbrev-commit --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	mup = !git checkout master && git pull && git checkout -
[push]
	default = simple
