[user]
	name = Vinícius Hoyer
	email = vhoyer@live.com
[core]
	autocrlf = input
	safecrlf = warn
	editor = vim
	excludesfile = ~/.ggitignore
[alias]
	pow = push origin HEAD
	pom = pull origin master
	pod = pull origin development
	co = commit
	st = status
	ch = checkout
	adog = log --all --decorate --oneline --graph
	amend = commit --amend
