[user]
	name = Vinícius Hoyer
	email = vhoyer@live.com
[core]
	autocrlf = input
	safecrlf = warn
	editor = nvim
	excludesfile = ~/.ggitignore
[alias]
	ad = add -p
	adog = log --all --decorate --oneline --graph
	ch = checkout
	co = commit
	cp = cherry-pick
	d = diff
	ds = diff --staged
	dw = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
	f = fetch -p
	fix = "!nvim `git diff --name-only --diff-filter=U`"
	fuck = commit --amend
	hist = log --graph --decorate --pretty=oneline --abbrev-commit --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lop = log --decorate --pretty=oneline --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	mup = !git checkout master && git pull && git checkout -
	pow = push origin HEAD
	powf = push origin HEAD --force-with-lease
	s = status
	wp = rebase --continue
  back = checkout HEAD~
  next = "!git checkout $(git rev-list --topo-order HEAD..towards | tail -1)"
[push]
	default = simple
[credetial]
  helper=store
